.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* body {
  background: linear-gradient(to right, rgb(255, 167, 35), rgb(25, 97, 235));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  max-width: 90%;
  width: 1200px;
  background-color: white;
  box-shadow: 0 5px 10px black;
  border-radius: 5px;
}

.content {
  padding: 30px;
  margin-top: 10px;
}

.header {
  /* background: #222; */
  background: linear-gradient(to right, rgb(255, 0, 335), rgb(249, 253, 0));
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  border-bottom: 1px solid whitesmoke;
}


.icon-container {
  position: relative;
  top: 70px;
  padding: 20px;
  background-color: white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}

.general-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.status {
  font-size: 3rem;
  font-weight: bold;
}

.location {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 10px;
}

.detail-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px;
}

.detail.bordered {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}

.detail .title {
  font-size: 2rem;
  flex-grow: 1;
  font-weight: bold;
  color: #777;
}

.detail .value {
  font-size: 2rem;
  margin-top: 20px;
}

.city-search-container {
  display: flex;
  justify-content: center;
}

.city-search {
  margin-top: 40px;
  font-size: 2rem;
  outline: none;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
}

.pac-item {
  font-size: 2rem;
  padding: 10px 10px;
}

.pac-icon {
  display: none;
}

.pac-item-query {
  font-size: 2rem;
  padding-right: 14px;
}

.weather-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #333;
  font-size: 1.5rem;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}